* {
	box-sizing: border-box;
}

body {
	background-color: #2d2d2d;
	font-family: Arial, sans-serif;
	color: #fff;
}

.container {
	/* max-width: 800px; */
	margin: 0 auto;
	padding: 20px;
	background-color: #2d2d2d;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	width: 250px;
	height: 100%;
	background-color: #111;
	padding: 20px;
}


.sidebar h2 {
	font-size: 20px;
	margin-bottom: 20px;
}

.sidebar ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.sidebar li {
	margin-bottom: 10px;
}

.sidebar a {
	display: block;
	padding: 10px;
	background-color: #333;
	color: #fff;
	text-decoration: none;
	border-radius: 5px;
	transition: background-color 0.2s ease;
}

.sidebar a:hover {
	background-color: #444;
}


.main-content {
    margin-left: 270px;
padding: 20px;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 20px;
}

.form-container {
	background-color: #3d3d3d;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

form label {
	display: block;
	margin-bottom: 5px;
	font-weight: bold;
}

form input, form textarea {
	display: block;
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
	border: none;
	border-radius: 5px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	background-color: #2d2d2d;
	color: #fff;
}

form button[type="submit"] {
	background-color: #4CAF50;
	color: #fff;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.2s ease;
}

form button[type="submit"]:hover {
	background-color: #3e8e41;
}
@media screen and (max-width: 800px) {
	.sidebar {
	  position: static;
	  width: 100%;
	  height: auto;
	  margin-bottom: 20px;
	}
	.main-content {
	  margin-left: 0;
	}
  }